<div id="footer">
    <div class="row">
        <div class="col-9 left">
            <span style="text-align: left;">Hackney Wick Underground 2021</span>
        </div>
        <div class="col-1">
            <a href="/users">Admin</a>
        </div>
        <div class="col-1">
            <a href="/login">Login</a>
        </div>
        <div class="col-1">
            <a href="/log-out">Logout</a>
        </div>
    </div>
</div>
