<div class="top-nav">
    <div class="wrapper">
        <div class="img-area">
            <div class="single-img">
                <p><a href="/">Home</a></p>
            </div>
            <div class="single-img">
                <p><a href="/about-us">About us</a></p>
            </div>
            <div class="single-img">
                <p><a href="/hire-enquiry">Studio Hire</a></p>
            </div>
            <div class="single-img">
                <p><a href="/contact-us">Contact us</a></p>
            </div>
            <div class="single-img">
                <p><a href="/partnerships">Partnerships</a></p>
            </div>
            <div class="single-img">
                <p><a href="/blog">Blog</a></p>
            </div>
        </div>
    </div>
</div>