<section class="events">
    <div class="title-section">
        <span class="span-title">What's going on
        </span>
        <div class="btn-view">
            <a class="" href="/events"> <span>ALL EVENTS</span></a>
        </div>
    </div>
    <div class="slide">
        <div class="my-slick-slide">
            <div class="div-slide">
                <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                <div class="info-doctor">
                    <span class="title">Civic Curriculum</span>
                    <span class="short-desc">Learning the Civic Curriculum</span>
                </div>
                <span class="location">Classroom</span>
            </div>
            <div class="div-slide">
                <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                <div class="info-doctor">
                    <span class="title">Fabric printing workshop</span>
                    <span class="short-desc">Learn how to print your own fabric</span>
                </div>
                <span class="location">Workshop</span>
            </div>
            <div class="div-slide">
                <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                <div class="info-doctor">
                    <span class="title">Bread Baking</span>
                    <span class="short-desc">A lesson on baking the best bread in London</span>
                </div>
                <span class="location">Doh Bakery</span>
            </div>
            <div class="div-slide">
                <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                <div class="info-doctor">
                    <span class="title">Painting Basics</span>
                    <span class="short-desc">Learn from the very start</span>
                </div>
                <span class="location">Main space</span>
            </div>
            <div class="div-slide">
                <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                <div class="info-doctor">
                    <span class="title">Handling Your MP</span>
                    <span class="short-desc">Learn how to appropriately approach 
                        difficult political subjects with your local MP</span>
                </div>
                <span class="location">Classroom</span>
            </div>
        </div>
    </div>
</section>
