<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>About Us</title>
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/trashhand_regular/stylesheet.css" type="text/css" charset="utf-8" />


</head>

<style>
    .for-users {
        border-radius: 3px;
        position: absolute;
        border: 1px solid #d8d8d8;
        background-color: #d8d8d8;
        display: flex;
        flex-direction: column;
        top: 60px;
        padding: 5px;
        display: none;
    }
</style>

<body>
    <div id="wrap">
    <div class="container" id="main">
        <%- include('sections/topnav.ejs') %>
        <div>
            <h1 style="font-size:10vw">Hello,</h1>
            <h1 style="font-size:5vw">we're Hackney Wick Underground. Welcome to our website.</h1>
        </div>

        <div class="row">
            <div class="col-5 left">
                <h3>Who?</h3>
                <p>Hackney Wick Underground is a grassroots nonprofit organisation. A live project that practices commons theory,
                acknowledging the ideology as a valuable and inclusive means of governing space. We are as much a workspace as a
                collective, exhibition space and a community, offering affordable studio space along with a host of open source
                provisions at reasonable rates for the residents of Hackney Wick and Fish Island.</p>
                <div class="behind-quote">
                <blockquote>
                    “Designing a collective workspace based on commons principles reintroduces collective orchestration while
                    creating
                    opportunities for learning and knowledge sharing between community members. We are opening up right to use land
                    for
                    community members to organise and learn together, these values are central to this business model.” <span
                        class="no-italics"><br>- Neil McDonald,
                        Director.</span>
                </blockquote>
                </div>
            </div>
            <div class="col-5 right">
                <h3>What?</h3>
                <p>For the residents of Hackney Wick and Fish Island, Hackney Wick Underground offers:</p>
                <ul>
                    <li>
                        <strong>Affordable, open plan workspace </strong>for artists and makers that has natural light and is capable of offering
                        flexible square
                        footage with additional storage space. Resident perks include a stall at a weekly makers market, involvement
                        in online
                        presence through a blog and online shop and access to seminars and workshops that are held in the on site
                        classroom.
                    </li>
                    <li>
                        <strong>Open source equipment and facilities.</strong> Hackney Wick Underground boasts a range of physical accompaniments
                        such as
                        handheld tools, benches and a CNC Machine as well as opportune amenities; a printmaking studio, an art shop
                        with point
                        of sales, a classroom for hosting events or workshops, exhibition space and photography equipment.
                    </li>
                    <li>
                        <Strong>The Civic Curriculum,</Strong> taught on site at the purpose built classroom. Involving a series of courses based on
                        the theory
                        of the commons and highlighting some of the key components of civic engagement such as citizenship, cultural
                        identity,
                        extractive vs sustainable business models and communication.
                    </li>
                </ul>
            </div>
            </div>
        </div>

        <div class="container">
            <h2 style="font-size:8vw">Opening soon...</h2>
        </div>
        <div class="container">
            <p style="font-size:4vw">
                Hackney Wick Overground is opening its studios and workspaces in <strong>April</strong> with covid safe measures
                in place. For more
                information please contact <a href="mailto:info@civicstate.co.uk">info@civicstate.co.uk</a> or visit <a
                    href="https://civicstate.co.uk/">civicstate.co.uk</a>
            </p>
        </div>
        
            
            <section class="pre-footer">
            </section>
            
            
    </div>
</div>
<%- include('sections/footer.ejs') %>
</body>

</html>