<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Load Jquery, Slick slider-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/slick-slide.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    
</head>

<style>
    .for-users {
        border-radius: 3px;
        position: absolute;
        border: 1px solid #d8d8d8;
        background-color: #d8d8d8;
        display: flex;
        flex-direction: column;
        top: 60px;
        padding: 5px;
        display: none;
    }
</style>
<script>
    $(document).mouseup(function(e) {
        var container = $(".for-users");

        // if the target of the click isn't the container nor a descendant 
        // of the container
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.hide();
        }
    });

    $(document).ready(function(e){
        $("#logoIcon").on("click", function(e){
            $(".for-users").css("display", "flex");
            // $(".for-users").addClass("display", "flex");
        });
    })
    
</script>
<body>

    <div class="container">
        <section class="header">
            <div class="top-nav">
                <div class="logo">
                    <i class="fas fa-bars logo-icon" id="logoIcon"></i>
                    <p>    .....  </p><a href="/login">Login</a>
                    <p> .....</p><a href="/users">Admin Page</a>
                    <!-- <img src="/images/logo-website.png" alt="logo-website"> -->
                    <!-- <div class="for-users">
                        <a href="/login">Login</a>
                        <a href="/users">Admin Page</a>
                    </div> -->
                </div>
                <div class="intro">
                    <div class="intro-icon">
                        <h3 class="title">Areas</h3>
                        <span>little </span>
                    </div>
                    <div class="intro-icon">
                        <h3 class="title">To be</h3>
                        <span>smalls</span>
                    </div>
                    <div class="intro-icon">
                        <h3 class="title">Filled</h3>
                        <span>something or other</span>
                    </div>
                    <div class="intro-icon">
                        <h3 class="title">Later</h3>
                        <span>little bits of info</span>
                    </div>

                </div>
                <div class="support">
                    <span><i class="fas fa-question-circle"></i>To be a button</span>
                </div>
            </div>

            <div class="image-nav">
                <div class="title-image">
                    Hackney Wick Underground
                </div>
                <!-- <div class="btn-search">
                    <i class="fas fa-search"></i>
                    <input class="input-search" type="text" name="btnSearch" placeholder="Search here...">
                </div> -->
            </div>
        </section>
        <section class="calendar-of-desks">
            <div>
                <div id="calendar"></div>
            </div>
        </section>

        
        <section class="doctors">
            <div class="title-section">
                <span class="span-title">Outstanding doctor</span>
                <div class="btn-view ">
                    <a class="" href="/"> <span>ALL THE DOCTORS </span></a>
                </div>
            </div>
            <div class="slide">
                <div class="my-slick-slide">
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                        <div class="info-doctor">
                            <span class="name">Dr. Hary Pham</span>
                            <span class="speciality">Nerve</span>
                        </div>
                        <span class="count-booking">1.000 bookings</span>
                    </div>
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                        <div class="info-doctor">
                            <span class="name">Dr. Hary Pham</span>
                            <span class="speciality">Nerve</span>
                        </div>
                        <span class="count-booking">1.000 bookings</span>
                    </div>
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                        <div class="info-doctor">
                            <span class="name">Dr. Hary Pham</span>
                            <span class="speciality">Nerve</span>
                        </div>
                        <span class="count-booking">1.000 bookings</span>
                    </div>
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                        <div class="info-doctor">
                            <span class="name">Dr. Hary Pham</span>
                            <span class="speciality">Nerve</span>
                        </div>
                        <span class="count-booking">1.000 bookings</span>
                    </div>
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                        <div class="info-doctor">
                            <span class="name">Dr. Hary Pham</span>
                            <span class="speciality">Nerve</span>
                        </div>
                        <span class="count-booking">1.000 bookings</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="handbook">
            <div class="title-section">
                <span class="span-title">Handbooks</span>
                <div class="btn-view ">
                    <a class="" href="/"> <span>ALL POSTS</span></a>
                </div>
            </div>
            <div class="slide">
                <div class="handbook-slide">
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image the post">
                        <div class="info-post">
                            <span class="title-post">My first post</span>
                            <div class="summary-content">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book.</div>
                        </div>
                    </div>
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image the post">
                        <div class="info-post">
                            <span class="title-post">My first post</span>
                            <div class="summary-content">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book.</div>
                        </div>
                    </div>
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image the post">
                        <div class="info-post">
                            <span class="title-post">My first post</span>
                            <div class="summary-content">asdfasdf asdfl asfd lkasdfasdfasfd</div>
                        </div>
                    </div>
                    <div class="div-slide">
                        <img src="../images/speciality/speciality1.jpg" alt="image the post">
                        <div class="info-post">
                            <span class="title-post">My first post</span>
                            <div class="summary-content">asdfasdf asdfl asfd lkasdfasdfasfd</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <span> Hackney Wick Underground</span>
        </footer>
    </div>
    

</body>

</html>