<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Studio Hire</title>
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/spaces.css">
    <!-- Load Jquery, Slick slider-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/slick-slide.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="css/trashhand_regular/stylesheet.css" type="text/css" charset="utf-8" />
</head>

<body>
    <div id="wrap">
    <div class="container" id="main">
        <%- include('../sections/topnav.ejs') %>
        <section class="header">
            <div class="title">
                <h1 style="font-size:10vw">Studio Spaces</h1>
            </div>
        </section>
        <section class="space-hire-text">
            <p>
                Let us know a bit more about you, your practice, and what you need from your space in the boxes below. 
            </p>
            <p>
                We'll let you know which spaces might suit your needs and confirm your booking via email.
            </p>
        </section>
        <section class="space-hire-text" id="book-space-form">
            <form method="post" action="/hire-enquiry">
                <div class="container">
                    <fieldset>
                        <legend>Enquire about hiring a studio space</legend>
            
                        <div class="group-input">
                            <label for="artistName">Your name:</label>
                            <input type="text" name="artistName" id="artistName" required>
                        </div>
            
                        <div class="group-input">
                            <label for="companyName">Your company name (if applicable):</label>
                            <input type="text" name="companyName" id="companyName">
                        </div>

                        <div class="group-input">
                            <label for="phone">Phone number:</label>
                            <input type="text" name="phone" id="phone" required>
                        </div>
            
                        <div class="group-input">
                            <label for="email">Email address:</label>
                            <input type="email" name="email" id="email" required>
                        </div>

                        <div class="group-input">
                            <label for="description">Tell us a bit more about you and what you'll be using the space for:</label><br>
                            <textarea name="description" id="description" rows="10" cols="30" required>
                                </textarea>
                        </div>
            
                        <div class="group-input">
                            <label for="start">When would you like to move in?:</label>
                            <select id="start" name="start" required>
                                <option value="march">March</option>
                                <option value="april">April</option>
                                <option value="may">May</option>
                                <option value="later">Later than May</option>
                                <option value="unsure">Unsure at the moment</option>
                            </select>
                        </div>
            
                        <div class="group-input">
                            <label for="hireLength">How long do you think you'll stay?:</label>
                            <input type="text" name="hireLength" id="hireLength" required>
                        </div>
                        <button type="submit"> Send enquiry to the team </button>
                    </fieldset>
                </div>
            </form>
        </section>
        <section class="pre-footer"></section>
    </div>
    </div>
    <%- include('../sections/footer') %>
</body>

</html>