<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Enquire about studio hire</title>
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/spaces.css">
    <!-- Load Jquery, Slick slider-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/slick-slide.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>

    <div class="container">
        <%- include('../sections/topnav.ejs') %>

        <section class="header">
            <div class="title">
                Thinking of hiring a space at the underground?
            </div>
        </section>
        <section class="space-hire-text">
            <p>
                Let us know a bit more about you, your practice, and what you need from your space in the boxes below. 
            </p>
            <p>
                We'll let you know which spaces might suit your needs and confirm your booking via email.
            </p>
        </section>
        <section id="book-space-form">
            <h2>fill in info from user sign up</h2>
            <h3>show available month</h3>
            <h3>this space is available from now until date</h3>
            <h3>how long would you like to rent it for?</h3>
            <input type="text" placeholder="Tell us about what you'll use the space for">
        </section>




        <!-- <%- include('../sections/whatson.ejs') %> -->
        <footer>
            <span> Hackney Wick Underground</span>
        </footer>
    </div>


</body>

</html>