<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Space page</title>
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/spaces.css">
</head>

<body>

    <div class="container">
        <section class="header">
            <div class="top-nav">
                <div class="logo">
                    <i class="fas fa-bars logo-icon" id="logoIcon"></i>
                    <p> ..... </p><a href="/login">Login</a>
                    <p> .....</p><a href="/users">Admin Page</a>
                </div>
                <div class="intro">
                    <div class="intro-icon">
                        <h3 class="title">Areas</h3>
                        <span>little </span>
                    </div>
                    <div class="intro-icon">
                        <h3 class="title">To be</h3>
                        <span>smalls</span>
                    </div>
                    <div class="intro-icon">
                        <h3 class="title">Filled</h3>
                        <span>something or other</span>
                    </div>
                    <div class="intro-icon">
                        <h3 class="title">Later</h3>
                        <span>little bits of info</span>
                    </div>

                </div>
                <div class="support">
                    <span><i class="fas fa-question-circle"></i>To be a button</span>
                </div>
            </div>

            <div class="image-nav">
                <div class="title-image">
                    <strong><%= desk.name %></strong> in <%= desk.location %>
                </div>
            </div>
        </section>
        <section id="book-space-form">
            <h2>fill in info from user sign up</h2>
            <h3>show available month</h3>
            <h3>this space is available from now until date</h3>
            <h3>how long would you like to rent it for?</h3>
            <input type="text" placeholder="Tell us about what you'll use the space for">
        </section>



        <section class="">
            <div>
                <h1><br><br><br></h1>
            </div>
        </section>
        <footer>
            <span> Hackney Wick Underground</span>
        </footer>
    </div>


</body>

</html>