<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/auth.css">
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Load Jquery, Slick slider-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/slick-slide.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <div>
        <div class="flash-message">
            <% if (errors !== "" ) { %>
                <%errors.forEach((item)=> {%>
                    <div class="alert-danger">
                        <%- item%>
                    </div>
                <%})%>
            <%}%>
        </div>
        <form method="post" action="/login">
            <div class="container">
                <%- include("../sections/topnav.ejs") %>
                <fieldset>
                    <legend>Login</legend>
                    <p>
                        Please log in to access the rest of the site. 
                    </p>
                    <p>If you haven't registered yet, <a href="/register">register here (its quick, easy and free)</a>.</p>

                    <div class="group-input">
                        <label for="email">Email address(<span style="color: red">*</span>):</label>
                        <input type="email" name="email" id="email" required>
                    </div>

                    <div class="group-input">
                        <label for="password">Password(<span style="color: red">*</span>):</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <div>
                        <a class="forgot-password" href="/forgot-password">Forgot password</a>
                    </div>
                    <button type="submit">Login</button>
                </fieldset>
            </div>
        </form>
    </div>

</body>

</html>