<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a user</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <div>
        <div class="flash-message">
            <% if (errors !== "") { %>
                <%errors.forEach((item) => {%>
                    <div class="alert-danger">
                        <%- item%>
                    </div>
                <%})%>
            <%}%>
        </div>
        <form method="post" action="/register">
            <div class="container">
                <fieldset>
                    <legend>Create a new account</legend>

                    <div class="group-input">
                        <label for="firstName">First name:</label>
                        <input type="text" name="firstName" id="firstName" value="<%= form.firstName %>">
                    </div>

                    <div class="group-input">
                        <label for="lastName">Last name:</label>
                        <input type="text" name="lastName" id="lastName" value="<%= form.lastName %>">
                    </div>
                    
                    <div class="group-input">
                        <label for="firstName">Email address(<span style="color: red">*</span>):</label>
                        <input type="email" name="email" id="email" value="<%= form.email %>" required>
                    </div>

                    <div class="group-input">
                        <label for="password">Password(<span style="color: red">*</span>):</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <div class="group-input">
                        <label for="confirmPassword">Confirm password(<span style="color: red">*</span>):</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" required>
                    </div>
                    <button type="submit">Submit</button>
                </fieldset>
            </div>
        </form>
    </div>

</body>

</html>